/*plek 1*/
.plek-0101{transform: translate(1300%, 1050%);}
.plek-0102{transform: translate(1300%, 950%);}
.plek-0103{transform: translate(1300%, 850%);}
.plek-0104{transform: translate(1300%, 750%);}
.plek-0105{transform: translate(1300%, 650%);}
.plek-0106{transform: translate(1300%, 1000%);}
.plek-0107{tr0ansform: translate(1300%, 900%);}
.plek-0108{transform: translate(1300%, 800%);}
.plek-0109{transform: translate(1300%, 700%);}
.plek-0110{transform: translate(1300%, 600%);}
.plek-0111{transform: translate(1300%, 1025%);}
.plek-0112{transform: translate(1300%, 925%);}
.plek-0113{transform: translate(1300%, 825%);}
.plek-0114{transform: translate(1300%, 725%);}
.plek-0115{transform: translate(1300%, 625%);}

/*plek 2*/
.plek-0201{transform: translate(1200%, 1050%);}
.plek-0202{transform: translate(1200%, 950%);}
.plek-0203{transform: translate(1200%, 850%);}
.plek-0204{transform: translate(1200%, 750%);}
.plek-0205{transform: translate(1200%, 650%);}
.plek-0206{transform: translate(1200%, 1000%);}
.plek-0207{transform: translate(1200%, 900%);}
.plek-0208{transform: translate(1200%, 800%);}
.plek-0209{transform: translate(1200%, 700%);}
.plek-0210{transform: translate(1200%, 600%);}
.plek-0211{transform: translate(1200%, 1025%);}
.plek-0212{transform: translate(1200%, 925%);}
.plek-0213{transform: translate(1200%, 825%);}
.plek-0214{transform: translate(1200%, 725%);}
.plek-0215{transform: translate(1200%, 625%);}

/*plek 3*/
.plek-0301{transform: translate(1100%, 1050%);}
.plek-0302{transform: translate(1100%, 950%);}
.plek-0303{transform: translate(1100%, 850%);}
.plek-0304{transform: translate(1100%, 750%);}
.plek-0305{transform: translate(1100%, 650%);}
.plek-0306{transform: translate(1100%, 1000%);}
.plek-0307{transform: translate(1100%, 900%);}
.plek-0308{transform: translate(1100%, 800%);}
.plek-0309{transform: translate(1100%, 700%);}
.plek-0310{transform: translate(1100%, 600%);}
.plek-0311{transform: translate(1100%, 1025%);}
.plek-0312{transform: translate(1100%, 925%);}
.plek-0313{transform: translate(1100%, 825%);}
.plek-0314{transform: translate(1100%, 725%);}
.plek-0315{transform: translate(1100%, 625%);}

/*plek 4*/
.plek-0401{transform: translate(1000%, 1050%);}
.plek-0402{transform: translate(1000%, 950%);}
.plek-0403{transform: translate(1000%, 850%);}
.plek-0404{transform: translate(1000%, 750%);}
.plek-0405{transform: translate(1000%, 650%);}
.plek-0406{transform: translate(1000%, 1000%);}
.plek-0407{transform: translate(1000%, 900%);}
.plek-0408{transform: translate(1000%, 800%);}
.plek-0409{transform: translate(1000%, 700%);}
.plek-0410{transform: translate(1000%, 600%);}
.plek-0411{transform: translate(1000%, 1025%);}
.plek-0412{transform: translate(1000%, 925%);}
.plek-0413{transform: translate(1000%, 825%);}
.plek-0414{transform: translate(1000%, 725%);}
.plek-0415{transform: translate(1000%, 625%);}

/*plek 5*/
.plek-0501{transform: translate(900%, 1050%);}
.plek-0502{transform: translate(900%, 950%);}
.plek-0503{transform: translate(900%, 850%);}
.plek-0504{transform: translate(900%, 750%);}
.plek-0505{transform: translate(900%, 650%);}
.plek-0506{transform: translate(900%, 1000%);}
.plek-0507{transform: translate(900%, 900%);}
.plek-0508{transform: translate(900%, 800%);}
.plek-0509{transform: translate(900%, 700%);}
.plek-0510{transform: translate(900%, 600%);}
.plek-0511{transform: translate(900%, 1025%);}
.plek-0512{transform: translate(900%, 925%);}
.plek-0513{transform: translate(900%, 825%);}
.plek-0514{transform: translate(900%, 725%);}
.plek-0515{transform: translate(900%, 625%);}

/*plek 6*/
.plek-0601{transform: translate(800%, 1050%);}
.plek-0602{transform: translate(800%, 950%);}
.plek-0603{transform: translate(800%, 850%);}
.plek-0604{transform: translate(800%, 750%);}
.plek-0605{transform: translate(800%, 650%);}
.plek-0606{transform: translate(800%, 1000%);}
.plek-0607{transform: translate(800%, 900%);}
.plek-0608{transform: translate(800%, 800%);}
.plek-0609{transform: translate(800%, 700%);}
.plek-0610{transform: translate(800%, 600%);}
.plek-0611{transform: translate(800%, 1025%);}
.plek-0612{transform: translate(800%, 925%);}
.plek-0613{transform: translate(800%, 825%);}
.plek-0614{transform: translate(800%, 725%);}
.plek-0615{transform: translate(800%, 625%);}

/*plek 7*/
.plek-0701{transform: translate(600%, 1050%);}
.plek-0702{transform: translate(600%, 950%);}
.plek-0703{transform: translate(600%, 850%);}
.plek-0704{transform: translate(600%, 750%);}
.plek-0705{transform: translate(600%, 650%);}
.plek-0706{transform: translate(600%, 1000%);}
.plek-0707{transform: translate(600%, 900%);}
.plek-0708{transform: translate(600%, 800%);}
.plek-0709{transform: translate(600%, 700%);}
.plek-0710{transform: translate(600%, 600%);}
.plek-0711{transform: translate(600%, 1025%);}
.plek-0712{transform: translate(600%, 925%);}
.plek-0713{transform: translate(600%, 825%);}
.plek-0714{transform: translate(600%, 725%);}
.plek-0715{transform: translate(600%, 625%);}

/*plek 8*/
.plek-0801{transform: translate(500%, 1050%);}
.plek-0802{transform: translate(500%, 950%);}
.plek-0803{transform: translate(500%, 850%);}
.plek-0804{transform: translate(500%, 750%);}
.plek-0805{transform: translate(500%, 650%);}
.plek-0806{transform: translate(500%, 1000%);}
.plek-0807{transform: translate(500%, 900%);}
.plek-0808{transform: translate(500%, 800%);}
.plek-0809{transform: translate(500%, 700%);}
.plek-0810{transform: translate(500%, 600%);}
.plek-0811{transform: translate(500%, 1025%);}
.plek-0812{transform: translate(500%, 925%);}
.plek-0813{transform: translate(500%, 825%);}
.plek-0814{transform: translate(500%, 725%);}
.plek-0815{transform: translate(500%, 625%);}

/*plek 9*/
.plek-0901{transform: translate(400%, 1050%);}
.plek-0902{transform: translate(400%, 950%);}
.plek-0903{transform: translate(400%, 850%);}
.plek-0904{transform: translate(400%, 750%);}
.plek-0905{transform: translate(400%, 650%);}
.plek-0906{transform: translate(400%, 1000%);}
.plek-0907{transform: translate(400%, 900%);}
.plek-0908{transform: translate(400%, 800%);}
.plek-0909{transform: translate(400%, 700%);}
.plek-0910{transform: translate(400%, 600%);}
.plek-0911{transform: translate(400%, 1025%);}
.plek-0912{transform: translate(400%, 925%);}
.plek-0913{transform: translate(400%, 825%);}
.plek-0914{transform: translate(400%, 725%);}
.plek-0915{transform: translate(400%, 625%);}

/*plek 10*/
.plek-1001{transform: translate(300%, 1050%);}
.plek-1002{transform: translate(300%, 950%);}
.plek-1003{transform: translate(300%, 850%);}
.plek-1004{transform: translate(300%, 750%);}
.plek-1005{transform: translate(300%, 650%);}
.plek-1006{transform: translate(300%, 1000%);}
.plek-1007{transform: translate(300%, 900%);}
.plek-1008{transform: translate(300%, 800%);}
.plek-1009{transform: translate(300%, 700%);}
.plek-1010{transform: translate(300%, 600%);}
.plek-1011{transform: translate(300%, 1025%);}
.plek-1012{transform: translate(300%, 925%);}
.plek-1013{transform: translate(300%, 825%);}
.plek-1014{transform: translate(300%, 725%);}
.plek-1015{transform: translate(300%, 625%);}

/*plek 11*/
.plek-1101{transform: translate(200%, 1050%);}
.plek-1102{transform: translate(200%, 950%);}
.plek-1103{transform: translate(200%, 850%);}
.plek-1104{transform: translate(200%, 750%);}
.plek-1105{transform: translate(200%, 650%);}
.plek-1106{transform: translate(200%, 1000%);}
.plek-1107{transform: translate(200%, 900%);}
.plek-1108{transform: translate(200%, 800%);}
.plek-1109{transform: translate(200%, 700%);}
.plek-1110{transform: translate(200%, 600%);}
.plek-1111{transform: translate(200%, 1025%);}
.plek-1112{transform: translate(200%, 925%);}
.plek-1113{transform: translate(200%, 825%);}
.plek-1114{transform: translate(200%, 725%);}
.plek-1115{transform: translate(200%, 625%);}

/*plek 12*/
.plek-1201{transform: translate(100%, 1050%);}
.plek-1202{transform: translate(100%, 950%);}
.plek-1203{transform: translate(100%, 850%);}
.plek-1204{transform: translate(100%, 750%);}
.plek-1205{transform: translate(100%, 650%);}
.plek-1206{transform: translate(100%, 1000%);}
.plek-1207{transform: translate(100%, 900%);}
.plek-1208{transform: translate(100%, 800%);}
.plek-1209{transform: translate(100%, 700%);}
.plek-1210{transform: translate(100%, 600%);}
.plek-1211{transform: translate(100%, 1025%);}
.plek-1212{transform: translate(100%, 925%);}
.plek-1213{transform: translate(100%, 825%);}
.plek-1214{transform: translate(100%, 725%);}
.plek-1215{transform: translate(100%, 625%);}

/*plek 13*/
.plek-1301{transform: translate(100%, 50%);}
.plek-1302{transform: translate(100%, 150%);}
.plek-1303{transform: translate(100%, 250%);}
.plek-1304{transform: translate(100%, 350%);}
.plek-1305{transform: translate(100%, 450%);}
.plek-1306{transform: translate(100%, 100%);}
.plek-1307{transform: translate(100%, 200%);}
.plek-1308{transform: translate(100%, 300%);}
.plek-1309{transform: translate(100%, 400%);}
.plek-1310{transform: translate(100%, 500%);}
.plek-1311{transform: translate(100%, 75%);}
.plek-1312{transform: translate(100%, 175%);}
.plek-1313{transform: translate(100%, 275%);}
.plek-1314{transform: translate(100%, 375%);}
.plek-1315{transform: translate(100%, 475%);}

/*plek 14*/
.plek-1401{transform: translate(200%, 50%);}
.plek-1402{transform: translate(200%, 150%);}
.plek-1403{transform: translate(200%, 250%);}
.plek-1404{transform: translate(200%, 350%);}
.plek-1405{transform: translate(200%, 450%);}
.plek-1406{transform: translate(200%, 100%);}
.plek-1407{transform: translate(200%, 200%);}
.plek-1408{transform: translate(200%, 300%);}
.plek-1409{transform: translate(200%, 400%);}
.plek-1410{transform: translate(200%, 500%);}
.plek-1411{transform: translate(200%, 75%);}
.plek-1412{transform: translate(200%, 175%);}
.plek-1413{transform: translate(200%, 275%);}
.plek-1414{transform: translate(200%, 375%);}
.plek-1415{transform: translate(200%, 475%);}

/*plek 15*/
.plek-1501{transform: translate(300%, 50%);}
.plek-1502{transform: translate(300%, 150%);}
.plek-1503{transform: translate(300%, 250%);}
.plek-1504{transform: translate(300%, 350%);}
.plek-1505{transform: translate(300%, 450%);}
.plek-1506{transform: translate(300%, 100%);}
.plek-1507{transform: translate(300%, 200%);}
.plek-1508{transform: translate(300%, 300%);}
.plek-1509{transform: translate(300%, 400%);}
.plek-1510{transform: translate(300%, 500%);}
.plek-1511{transform: translate(300%, 75%);}
.plek-1512{transform: translate(300%, 175%);}
.plek-1513{transform: translate(300%, 275%);}
.plek-1514{transform: translate(300%, 375%);}
.plek-1515{transform: translate(300%, 475%);}

/*plek 16*/
.plek-1601{transform: translate(400%, 50%);}
.plek-1602{transform: translate(400%, 150%);}
.plek-1603{transform: translate(400%, 250%);}
.plek-1604{transform: translate(400%, 350%);}
.plek-1605{transform: translate(400%, 450%);}
.plek-1606{transform: translate(400%, 100%);}
.plek-1607{transform: translate(400%, 200%);}
.plek-1608{transform: translate(400%, 300%);}
.plek-1609{transform: translate(400%, 400%);}
.plek-1610{transform: translate(400%, 500%);}
.plek-1611{transform: translate(400%, 75%);}
.plek-1612{transform: translate(400%, 175%);}
.plek-1613{transform: translate(400%, 275%);}
.plek-1614{transform: translate(400%, 375%);}
.plek-1615{transform: translate(400%, 475%);}

/*plek 17*/
.plek-1701{transform: translate(500%, 50%);}
.plek-1702{transform: translate(500%, 150%);}
.plek-1703{transform: translate(500%, 250%);}
.plek-1704{transform: translate(500%, 350%);}
.plek-1705{transform: translate(500%, 450%);}
.plek-1706{transform: translate(500%, 100%);}
.plek-1707{transform: translate(500%, 200%);}
.plek-1708{transform: translate(500%, 300%);}
.plek-1709{transform: translate(500%, 400%);}
.plek-1710{transform: translate(500%, 500%);}
.plek-1711{transform: translate(500%, 75%);}
.plek-1712{transform: translate(500%, 175%);}
.plek-1713{transform: translate(500%, 275%);}
.plek-1714{transform: translate(500%, 375%);}
.plek-1715{transform: translate(500%, 475%);}

/*plek 18*/
.plek-1801{transform: translate(600%, 50%);}
.plek-1802{transform: translate(600%, 150%);}
.plek-1803{transform: translate(600%, 250%);}
.plek-1804{transform: translate(600%, 350%);}
.plek-1805{transform: translate(600%, 450%);}
.plek-1806{transform: translate(600%, 100%);}
.plek-1807{transform: translate(600%, 200%);}
.plek-1808{transform: translate(600%, 300%);}
.plek-1809{transform: translate(600%, 400%);}
.plek-1810{transform: translate(600%, 500%);}
.plek-1811{transform: translate(600%, 75%);}
.plek-1812{transform: translate(600%, 175%);}
.plek-1813{transform: translate(600%, 275%);}
.plek-1814{transform: translate(600%, 375%);}
.plek-1815{transform: translate(600%, 475%);}

/*plek 19*/
.plek-1901{transform: translate(800%, 50%);}
.plek-1902{transform: translate(800%, 150%);}
.plek-1903{transform: translate(800%, 250%);}
.plek-1904{transform: translate(800%, 350%);}
.plek-1905{transform: translate(800%, 450%);}
.plek-1906{transform: translate(800%, 100%);}
.plek-1907{transform: translate(800%, 200%);}
.plek-1908{transform: translate(800%, 300%);}
.plek-1909{transform: translate(800%, 400%);}
.plek-1910{transform: translate(800%, 500%);}
.plek-1911{transform: translate(800%, 75%);}
.plek-1912{transform: translate(800%, 175%);}
.plek-1913{transform: translate(800%, 275%);}
.plek-1914{transform: translate(800%, 375%);}
.plek-1915{transform: translate(800%, 475%);}

/*plek 20*/
.plek-2001{transform: translate(900%, 50%);}
.plek-2002{transform: translate(900%, 150%);}
.plek-2003{transform: translate(900%, 250%);}
.plek-2004{transform: translate(900%, 350%);}
.plek-2005{transform: translate(900%, 450%);}
.plek-2006{transform: translate(900%, 100%);}
.plek-2007{transform: translate(900%, 200%);}
.plek-2008{transform: translate(900%, 300%);}
.plek-2009{transform: translate(900%, 400%);}
.plek-2010{transform: translate(900%, 500%);}
.plek-2011{transform: translate(900%, 75%);}
.plek-2012{transform: translate(900%, 175%);}
.plek-2013{transform: translate(900%, 275%);}
.plek-2014{transform: translate(900%, 375%);}
.plek-2015{transform: translate(900%, 475%);}

/*plek 21*/
.plek-2101{transform: translate(1000%, 50%);}
.plek-2102{transform: translate(1000%, 150%);}
.plek-2103{transform: translate(1000%, 250%);}
.plek-2104{transform: translate(1000%, 350%);}
.plek-2105{transform: translate(1000%, 450%);}
.plek-2106{transform: translate(1000%, 100%);}
.plek-2107{transform: translate(1000%, 200%);}
.plek-2108{transform: translate(1000%, 300%);}
.plek-2109{transform: translate(1000%, 400%);}
.plek-2110{transform: translate(1000%, 500%);}
.plek-2111{transform: translate(1000%, 75%);}
.plek-2112{transform: translate(1000%, 175%);}
.plek-2113{transform: translate(1000%, 275%);}
.plek-2114{transform: translate(1000%, 375%);}
.plek-2115{transform: translate(1000%, 475%);}

/*plek 22*/
.plek-2201{transform: translate(1100%, 50%);}
.plek-2202{transform: translate(1100%, 150%);}
.plek-2203{transform: translate(1100%, 250%);}
.plek-2204{transform: translate(1100%, 350%);}
.plek-2205{transform: translate(1100%, 450%);}
.plek-2206{transform: translate(1100%, 100%);}
.plek-2207{transform: translate(1100%, 200%);}
.plek-2208{transform: translate(1100%, 300%);}
.plek-2209{transform: translate(1100%, 400%);}
.plek-2210{transform: translate(1100%, 500%);}
.plek-2211{transform: translate(1100%, 75%);}
.plek-2212{transform: translate(1100%, 175%);}
.plek-2213{transform: translate(1100%, 275%);}
.plek-2214{transform: translate(1100%, 375%);}
.plek-2215{transform: translate(1100%, 475%);}

/*plek 23*/
.plek-2301{transform: translate(1200%, 50%);}
.plek-2302{transform: translate(1200%, 150%);}
.plek-2303{transform: translate(1200%, 250%);}
.plek-2304{transform: translate(1200%, 350%);}
.plek-2305{transform: translate(1200%, 450%);}
.plek-2306{transform: translate(1200%, 100%);}
.plek-2307{transform: translate(1200%, 200%);}
.plek-2308{transform: translate(1200%, 300%);}
.plek-2309{transform: translate(1200%, 400%);}
.plek-2310{transform: translate(1200%, 500%);}
.plek-2311{transform: translate(1200%, 75%);}
.plek-2312{transform: translate(1200%, 175%);}
.plek-2313{transform: translate(1200%, 275%);}
.plek-2314{transform: translate(1200%, 375%);}
.plek-2315{transform: translate(1200%, 475%);}

/*plek 24*/
.plek-2401{transform: translate(1300%, 50%);}
.plek-2402{transform: translate(1300%, 150%);}
.plek-2403{transform: translate(1300%, 250%);}
.plek-2404{transform: translate(1300%, 350%);}
.plek-2405{transform: translate(1300%, 450%);}
.plek-2406{transform: translate(1300%, 100%);}
.plek-2407{transform: translate(1300%, 200%);}
.plek-2408{transform: translate(1300%, 300%);}
.plek-2409{transform: translate(1300%, 400%);}
.plek-2410{transform: translate(1300%, 500%);}
.plek-2411{transform: translate(1300%, 75%);}
.plek-2412{transform: translate(1300%, 175%);}
.plek-2413{transform: translate(1300%, 275%);}
.plek-2414{transform: translate(1300%, 375%);}
.plek-2415{transform: translate(1300%, 475%);}